include layout
    .container
        .row-fluid
            .col-xs-12
                h2 DASHBOARD!!

        .row-fluid
            .col-xs-4
                p Dashboard
            .col-xs-8
                a(href='/dashboard') Dashboard


